h1 {

    color : purple;
    font-size: 50px;

}
p{

    font-size: 5px;

}
body {

    background: url("../img/tigre.jpg"), no-repeat;
    background-size: cover;
    text-align: center;
}
a {

    color : peru;
    font-family: fantasy;

}