h1 {

    color : red;
    font-size: 50px;

}
p{

    font-size: 20px;

}
body {

    background: url("../img/tigre.jpg"), no-repeat;
    background-size: cover;
    text-align: center;
}
a {

    color : black;
    font-family: fantasy;

}